/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
HTML5 display-role reset for older browsers

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* =============End of Reset============== */
/* =====================Start of Team Styles==================== */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
}

/* ============================ Header ================ */
header{
    display: flex;
    justify-content: space-between;
    padding: 1% 0;
    border-bottom: 1px solid black;

}
header .logoName{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    width: 20%;
}

header .logoName img{
    width: 70%;
}

header .headerNav{
    /* border: 1px solid black; */
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}
header .headerNav span{
    border: thin solid gray;
    width: 0;
    height: 80%;
}
header .headerNav a{
    font-size: 100%;
    text-decoration: none;
    color: rgb(255, 94, 0);
}
header .headerNav .btn{
    /* border: 1px solid black; */
    padding: 2% 3%;
    border-radius: 50px;
    color: white;
    background-color: rgb(255, 94, 0);
    /* transition: 1s; */
}
header .headerNav .btn:hover{
    transition: 1s;
    background-color: white;
    color: rgb(255, 94, 0);
}
/* ====================== Main Content ====================== */
.mainContent{
    padding: 2%;
}
/* ================== Home Page Styles================== */

/* =================== About Us Page Styles============= */
.aboutProduct{
    /* border: 1px solid black; */
    margin-bottom: 4%;
    padding: 2%;
    text-align: center;
    border-radius: 0 20px 0 20px;
    box-shadow: 5px 5px 10px black, -1px -1px 10px black;
}
.aboutProduct h2,
.aboutDevs h2{
    font-size: 3rem;
    color: rgb(255, 94, 0);
}
.aboutProduct p,
.aboutDevs p{
    font-size: 2rem;
}

.aboutDevs{
    /* border: 1px solid black; */
    text-align: center;
    padding: 2% 3;
    border-radius: 0 20px 0 20px;
    box-shadow: 5px 5px 10px black, -1px -1px 10px black;

}
.aboutDevs .cardContainer{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.cardContainer .card{
    width: 95%;

    margin: 3% 0;
    padding: 1%;
    border-radius: 2rem;
    border: 1px solid black;
    background-image: url(/Images/Logo.png);
    background-size: cover;
    background-position: top -24px right 4px;
    background-color: rgb(255,94,0);
}
.cardContainer .card > *{
    background: #71717192;
    margin: 2%;
}
.cardContainer .card .devName{
    font-size: 2rem;
    border-radius: 20px 20px 0 0;
}
.cardContainer .card .devRole{
    font-size: 2rem;
}
.cardContainer .card p{
    font-size: 1.5rem;
    border-radius: 0 0 20px 20px;
}
.card .devPhoto{
    width: 50%;
    border: 1px solid black;
    border-radius: 100px;
    box-shadow: 1px 1px 10px #717171, -1px -1px 10px #717171;

}


/* ====================== Media Styles ================= */
